wget-log
node_modules/
.env
**/.env
**/.env.*
**/.env.local
**/.env.production

# macOS
.DS_Store
**/.DS_Store

# Lambda deployment zips
**/*.zip

# Local Netlify folder
.netlify

# Lambda deployment artifacts
**/*-lambda.zip
aws-lambdas/cancel-subscription/package.json
aws-lambdas/cancel-subscription/package-lock.json
